{{- define "header"}}
    package {{FromTags "package"}}

    import (
        karmem "{{FromTags "import"}}"
        "unsafe"
		"errors"
        {{- template "component_imports_extension" . }}
    )

    var _ unsafe.Pointer
	var _ = errors.New("")

    var _Null_{{.Name}} = [{{.Size.Largest}}]byte{}
    var _NullReader_{{.Name}} = karmem.NewReader(_Null_{{.Name}}[:])

    {{- template "component_header_extension" . }}

    func init() {
        {{- template "component_init_extension" . }}
    }
{{end}}

{{define "enums"}}
    {{- /*gotype: github.com/zllangct/ecs/command/karmem/kmparser.File*/ -}}
    {{- range $root := .Enums}}
        type (
        {{$root.Data.Name}} {{ToType $root.Data.Type}}
        )

        const (
        {{- range $field := $root.Data.Fields }}
            {{$root.Data.Name}}{{$field.Data.Name}} {{$root.Data.Name}} = {{$field.Data.Value}}
        {{- end }}
        )

    {{- end}}
{{end}}

{{define "enums_builder"}}
    {{- /*gotype: github.com/zllangct/ecs/command/karmem/kmparser.File*/ -}}

{{end}}

{{define "struct"}}
    {{- $Top := .}}
    {{- if gt (len .Structs) 0 }}
        const (
    {{- end }}
    {{- range $root := .Structs}}
        PacketIdentifier{{$root.Data.Name}} = {{$root.Data.ID}}
    {{- end }}
    {{- if gt (len .Structs) 0 }}
        )
    {{- end }}
    {{$NullReader := printf "_NullReader_%s" .Name}}
    {{$Null := printf "_Null_%s" .Name}}
    {{$EnableRef := false}}
    {{- if ne (FromTags "field.enable_ref") "false" }}
        {{$EnableRef = true}}
    {{- end }}
    {{- /*gotype: github.com/zllangct/ecs/command/karmem/kmparser.File*/ -}}
    {{range $root := .Structs}}
        {{- $ArgsMap := StructGenerateArgs $root "Name" $Top.Name}}
		{{- template "struct_field" $ArgsMap}}

        {{- if $root.Data.IsComponent }}
            {{- template "component_extension" $ArgsMap }}
        {{- end}}
    {{- end }}
{{end}}

{{define  "struct_field"}}
    {{- $root := .Value}}
	{{- $EnableRef := .EnableRef }}
    {{- $NullReader := printf "_NullReader_%s" .Map.Name}}
    {{- $Null := printf "_Null_%s" .Map.Name}}
    type {{$root.Data.Name}} struct {
        {{- range $block := $root.Data.Block }}
            {{- if eq $block.BlockType 6 }}
                {{- $field := IndexStructField $root.Data.Fields  $block.Index }}
                {{- range $commentLine := $field.Data.TopComments.Value }}
                    {{ $commentLine.Value }}
                {{- end }}
                {{- if and $field.Data.Type.IsArray $field.Data.Type.IsString }}
                    // fixed string of size {{ $field.Data.Type.Length }}
                {{- end}}
                {{- if and $root.Data.IsComponent (and $field.Data.Type.IsArray $field.Data.Type.IsString) }}
                    {{ $field.Data.Name }} ecs.Fixed{{ $field.Data.Type.Length }} {{ $field.Data.TailComments.Value }}
                {{- else}}
                    {{- if and $EnableRef (CanRef $field.Data.Type)}}
                        {{ $field.Data.Name }} *{{ToType $field.Data.Type}} {{ $field.Data.TailComments.Value }}
                    {{- else }}
                        {{ $field.Data.Name }} {{ToType $field.Data.Type}} {{ $field.Data.TailComments.Value }}
                    {{- end }}
                {{- end}}
            {{- else }}
                {{ $comment := IndexComment $root.Data.Comments $block.Index }}
                {{- range $commentLine := $comment.Value }}
                    {{ $commentLine.Value }}
                {{- end }}
            {{- end }}
        {{- end }}
    }

    func New{{$root.Data.Name}}() {{$root.Data.Name}} {
    return {{$root.Data.Name}}{}
    }

    func (x *{{$root.Data.Name}}) PacketIdentifier() karmem.PacketIdentifier {
    return PacketIdentifier{{$root.Data.Name}}
    }

    func (x *{{$root.Data.Name}}) Reset() {
    x.Read((*{{$root.Data.Name}}Viewer)(unsafe.Pointer(&{{$Null}}[0])), {{$NullReader}})
    }

    func (x *{{$root.Data.Name}}) WriteAsRoot(writer karmem.Writer) (offset uint, err error) {
    return x.Write(writer, 0)
    }

    func (x *{{$root.Data.Name}}) Write(writer karmem.Writer, start uint) (offset uint, err error) {
    offset = start
    size := uint({{$root.Data.Size.Total}})
    if offset == 0 {
    offset, err = writer.Alloc(size)
    if err != nil {
    return 0, err
    }
    }

    {{- if $root.Data.IsTable}}
		{{ println "// struct size for table" -}}
        writer.Write4At(offset, uint32({{$root.Data.Size.Content}}))
    {{- end}}

    {{- range $field := $root.Data.Fields }}
		{{- $FieldShoudRef := (and $EnableRef (CanRef $field.Data.Type))}}
        {{- if not $field.Data.Type.IsInline}}
            {{- if $field.Data.Type.IsBasic}}
                __{{$field.Data.Name}}Size := uint({{$field.Data.Size.Allocation}})
            {{- else}}
                __{{$field.Data.Name}}Size := uint({{$field.Data.Size.Allocation}} * len(x.{{$field.Data.Name}}))
            {{- end}}
        {{- end }}
        {{- if $field.Data.Type.IsInline }}
            __{{$field.Data.Name}}Offset := offset+{{$field.Data.Offset}}
            {{- if $field.Data.Type.IsString}}
                {{- if $root.Data.IsComponent }}
                    __{{$field.Data.Name}}Size := uint({{$field.Data.Size.Allocation}} * x.{{$field.Data.Name}}.Len())
                {{- else }}
                    __{{$field.Data.Name}}Size := uint({{$field.Data.Size.Allocation}} * len(x.{{$field.Data.Name}}))
                {{- end}}
				writer.Write4At(__{{$field.Data.Name}}Offset, uint32(__{{$field.Data.Name}}Size))
            {{- end}}
            {{- if $FieldShoudRef }}
				if x.{{$field.Data.Name}} == nil {
				writer.Write1At(offset+{{$field.Data.Offset}}, 0)
				} else {
				writer.Write1At(offset+{{$field.Data.Offset}}, 1)
				}
				__{{$field.Data.Name}}Offset += 1
            {{- end}}
        {{- else }}
            __{{$field.Data.Name}}Offset, err := writer.Alloc(__{{$field.Data.Name}}Size)
            if err != nil {
            return 0, err
            }
            writer.Write4At(offset+{{$field.Data.Offset}}, uint32(__{{$field.Data.Name}}Offset))
            {{- if $field.Data.Type.IsSlice}}
                writer.Write4At(offset+{{$field.Data.Offset}} + 4, uint32(__{{$field.Data.Name}}Size))
                {{- if not $root.Data.Packed }}
                    writer.Write4At(offset+{{$field.Data.Offset}} + 4 + 4, {{$field.Data.Size.Allocation}})
                {{- end}}
            {{- end }}
            {{- if $FieldShoudRef }}
				if x.{{$field.Data.Name}} == nil {
				writer.Write1At(offset+{{$field.Data.Offset}} + 4, 0)
				} else {
				writer.Write1At(offset+{{$field.Data.Offset}} + 4, 1)
				}
            {{- end}}
        {{- end }}
        {{- if or $field.Data.Type.IsNative $field.Data.Type.IsEnum }}
            {{- if $field.Data.Type.IsInline}}
                {{- if $field.Data.Type.IsArray }}
                    {{- if $field.Data.Type.IsString}}
						if __{{$field.Data.Name}}Size > 0 {
							if __{{$field.Data.Name}}Size > {{$field.Data.Size.Field}} {
								return 0, errors.New("out of array bounds")
							}
							{{- if $root.Data.IsComponent }}
								writer.WriteAt(__{{$field.Data.Name}}Offset + 4, (*[{{$field.Data.Size.Field}}]byte)(unsafe.Pointer(&x.{{$field.Data.Name}}))[:])
							{{- else }}
								writer.WriteAt(__{{$field.Data.Name}}Offset + 4, (*[{{$field.Data.Size.Field}}]byte)(unsafe.Pointer(*(*uintptr)(unsafe.Pointer(&x.{{$field.Data.Name}}))))[:])
							{{- end}}
						} else {
							writer.WriteAt(__{{$field.Data.Name}}Offset + 4, {{$Null}}[:{{$field.Data.Size.Field}}])
						}
					{{- else}}
						writer.WriteAt(__{{$field.Data.Name}}Offset, (*[{{$field.Data.Size.Field}}]byte)(unsafe.Pointer(&x.{{$field.Data.Name}}))[:])
                    {{- end}}
                {{- else }}
                    {{- if eq $field.Data.Size.Allocation 1}}
                        writer.Write1At(__{{$field.Data.Name}}Offset, *(*uint8)(unsafe.Pointer(&x.{{$field.Data.Name}})))
                    {{- end}}
                    {{- if eq $field.Data.Size.Allocation 2}}
                        writer.Write2At(__{{$field.Data.Name}}Offset, *(*uint16)(unsafe.Pointer(&x.{{$field.Data.Name}})))
                    {{- end}}
                    {{- if eq $field.Data.Size.Allocation 4}}
                        writer.Write4At(__{{$field.Data.Name}}Offset, *(*uint32)(unsafe.Pointer(&x.{{$field.Data.Name}})))
                    {{- end}}
                    {{- if eq $field.Data.Size.Allocation 8}}
                        writer.Write8At(__{{$field.Data.Name}}Offset, *(*uint64)(unsafe.Pointer(&x.{{$field.Data.Name}})))
                    {{- end}}
                {{- end}}
            {{- else}}
                {{- if $field.Data.Type.IsSlice}}
                    {{- if $field.Data.Type.IsString}}
                        __{{$field.Data.Name}}Slice := [3]uint{*(*uint)(unsafe.Pointer(&x.{{$field.Data.Name}})), __{{$field.Data.Name}}Size, __{{$field.Data.Name}}Size}
                        writer.WriteAt(__{{$field.Data.Name}}Offset, *(*[]byte)(unsafe.Pointer(&__{{$field.Data.Name}}Slice)))
                    {{- else}}
                        __{{$field.Data.Name}}Slice := *(*[3]uint)(unsafe.Pointer(&x.{{$field.Data.Name}}))
                        __{{$field.Data.Name}}Slice[1] = __{{$field.Data.Name}}Size
                        __{{$field.Data.Name}}Slice[2] = __{{$field.Data.Name}}Size
                        writer.WriteAt(__{{$field.Data.Name}}Offset, *(*[]byte)(unsafe.Pointer(&__{{$field.Data.Name}}Slice)))
                    {{- end}}
                {{- else}}
                    _{{$field.Data.Name}}Slice := [3]uint{uint(uintptr(unsafe.Pointer(&x.{{$field.Data.Name}}))), __{{$field.Data.Name}}Size, __{{$field.Data.Name}}Size}
                    writer.WriteAt(__{{$field.Data.Name}}Offset, *(*[]byte)(unsafe.Pointer(&__{{$field.Data.Name}}Slice)))
                {{- end}}
            {{- end}}
        {{- else }}
            {{- if $field.Data.Type.IsBasic}}
				{{- if $FieldShoudRef }}
					if x.{{$field.Data.Name}} == nil {
						if _, err := x.{{$field.Data.Name}}.WriteDefault(writer, __{{$field.Data.Name}}Offset); err != nil {
							return offset, err
						}
					} else {
						if _, err := x.{{$field.Data.Name}}.Write(writer, __{{$field.Data.Name}}Offset); err != nil {
							return offset, err
						}
					}
				{{- else}}
					if _, err := x.{{$field.Data.Name}}.Write(writer, __{{$field.Data.Name}}Offset); err != nil {
						return offset, err
					}
				{{- end}}
            {{- else}}
                for i := range x.{{$field.Data.Name}} {
                if _, err := x.{{$field.Data.Name}}[i].Write(writer, __{{$field.Data.Name}}Offset); err != nil {
                return offset, err
                }
                __{{$field.Data.Name}}Offset += {{$field.Data.Size.Allocation}}
                }
            {{- end}}
        {{- end}}

    {{- end}}

    return offset, nil
    }

    func (*{{$root.Data.Name}}) WriteDefault(writer karmem.Writer, start uint) (offset uint, err error) {
    offset = start
    size := uint({{$root.Data.Size.Total}})
    if offset == 0 {
    offset, err = writer.Alloc(size)
    if err != nil {
    return 0, err
    }
    }
    {{- if $root.Data.IsTable}}
		writer.Write4At(offset, uint32({{$root.Data.Size.Content}}))
    {{- end}}
    writer.WriteAt(offset, {{$Null}}[:size-4])
    {{- range $field := $root.Data.Fields }}
        {{- $FieldShoudRef := (and $EnableRef (CanRef $field.Data.Type))}}
        {{- if not $field.Data.Type.IsInline}}
            {{- if and $field.Data.Type.IsBasic (not $field.Data.Type.IsNative) }}
{{/*                __{{$field.Data.Name}}Size := uint({{$field.Data.Size.Allocation}})*/}}
            {{- end}}
        {{- end }}
        {{- if $field.Data.Type.IsInline }}
            __{{$field.Data.Name}}Offset := offset+{{$field.Data.Offset}}
            _ = __{{$field.Data.Name}}Offset
            {{- if $field.Data.Type.IsString}}
                writer.Write4At(__{{$field.Data.Name}}Offset, 0)
            {{- end}}
        {{- else }}
            __{{$field.Data.Name}}Offset, err := writer.Alloc(0)
            if err != nil {
            return 0, err
            }
            writer.Write4At(offset+{{$field.Data.Offset}}, uint32(__{{$field.Data.Name}}Offset))
            {{- if $field.Data.Type.IsSlice}}
                writer.Write4At(offset+{{$field.Data.Offset}} + 4, 0)
                {{- if not $root.Data.Packed }}
                    writer.Write4At(offset+{{$field.Data.Offset}} + 4 + 4, {{$field.Data.Size.Allocation}})
                {{- end}}
            {{- end }}
        {{- end }}
        {{- if or $field.Data.Type.IsNative $field.Data.Type.IsEnum }}
        {{- else }}
            {{- if $field.Data.Type.IsBasic}}
                {{- if $FieldShoudRef }}
                    writer.Write1At(__{{$field.Data.Name}}Offset, 0)
                    if _, err := (*{{$field.Data.Type.Schema}})(nil).WriteDefault(writer, __{{$field.Data.Name}}Offset + 1); err != nil {
                    return offset, err
                    }
                {{- else}}
                    if _, err := (*{{$field.Data.Type.Schema}})(nil).WriteDefault(writer, __{{$field.Data.Name}}Offset); err != nil {
                    return offset, err
                    }
                {{- end}}
            {{- end}}
        {{- end}}
    {{- end}}

    return offset, nil
    }


    func (x *{{$root.Data.Name}}) ReadAsRoot(reader *karmem.Reader) {
    x.Read(New{{$root.Data.Name}}Viewer(reader, 0), reader)
    }

	func (x *{{$root.Data.Name}}) ReadWithOffset(reader *karmem.Reader, offset uint32) {
	x.Read(New{{$root.Data.Name}}Viewer(reader, offset), reader)
	}

    func (x *{{$root.Data.Name}}) Read(viewer *{{$root.Data.Name}}Viewer, reader *karmem.Reader) {
		if viewer == nil {
			return
		}
    {{- range $field := $root.Data.Fields }}
        {{- $FieldShoudRef := (and $EnableRef (CanRef $field.Data.Type))}}
        {{- if $field.Data.Type.IsBasic}}
            {{- if $field.Data.Type.IsEnum}}
                x.{{$field.Data.Name}} = {{ToType $field.Data.Type}}(viewer.{{$field.Data.Name}}())
            {{- else}}
                {{- if $field.Data.Type.IsNative}}
                    x.{{$field.Data.Name}} = viewer.{{$field.Data.Name}}()
                {{- else}}
                    {{- if $FieldShoudRef }}
						if !viewer.is{{$field.Data.Name}}Nil() {
							{{$field.Data.Name}}Viewer := viewer.{{$field.Data.Name}}({{- if not $field.Data.Type.IsInline}}reader{{- end}})
							if x.{{$field.Data.Name}} == nil {
								x.{{$field.Data.Name}} = new({{$field.Data.Type.Schema}})
							}
							x.{{$field.Data.Name}}.Read({{$field.Data.Name}}Viewer, reader)
						}
                    {{- else}}
						x.{{$field.Data.Name}}.Read(viewer.{{$field.Data.Name}}({{- if not $field.Data.Type.IsInline}}reader{{- end}}), reader)
                    {{- end}}
                {{- end}}
            {{- end}}
        {{- else}}
            {{- if $field.Data.Type.IsBasic}}
                x.{{$field.Data.Name}}.Read(viewer.{{$field.Data.Name}}(reader), reader)
            {{- end}}
            {{- if $field.Data.Type.IsString}}
                __{{$field.Data.Name}}String := viewer.{{$field.Data.Name}}({{- if not $field.Data.Type.IsInline}}reader{{- end}})
                {{- if $root.Data.IsComponent }}
                    if x.{{$field.Data.Name}}.String() != __{{$field.Data.Name}}String {
                    __{{$field.Data.Name}}StringCopy := make([]byte, len(__{{$field.Data.Name}}String))
                    copy(__{{$field.Data.Name}}StringCopy, __{{$field.Data.Name}}String)
                    x.{{$field.Data.Name}}.Set(*(*string)(unsafe.Pointer(&__{{$field.Data.Name}}StringCopy)))
                    }
                {{- else}}
                    if x.{{$field.Data.Name}} != __{{$field.Data.Name}}String {
                    __{{$field.Data.Name}}StringCopy := make([]byte, len(__{{$field.Data.Name}}String))
                    copy(__{{$field.Data.Name}}StringCopy, __{{$field.Data.Name}}String)
                    x.{{$field.Data.Name}} = *(*string)(unsafe.Pointer(&__{{$field.Data.Name}}StringCopy))
                    }
                {{- end}}
            {{- else}}
                {{- if $field.Data.Type.IsSlice}}
                    __{{$field.Data.Name}}Slice := viewer.{{$field.Data.Name}}(reader)
                    __{{$field.Data.Name}}Len := len(__{{$field.Data.Name}}Slice)
                    if __{{$field.Data.Name}}Len > cap(x.{{$field.Data.Name}}) {
                    x.{{$field.Data.Name}} = append(x.{{$field.Data.Name}}, make([]{{ToPlainType $field.Data.Type}}, __{{$field.Data.Name}}Len - len(x.{{$field.Data.Name}}))...)
                    }
                    if __{{$field.Data.Name}}Len > len(x.{{$field.Data.Name}}) {
                    x.{{$field.Data.Name}} = x.{{$field.Data.Name}}[:__{{$field.Data.Name}}Len]
                    }
                {{- else}}
                    __{{$field.Data.Name}}Slice := viewer.{{$field.Data.Name}}()
                    __{{$field.Data.Name}}Len := len(__{{$field.Data.Name}}Slice)
                    if __{{$field.Data.Name}}Len > {{$field.Data.Type.Length}} {
                    __{{$field.Data.Name}}Len = {{$field.Data.Type.Length}}
                    }
                {{- end }}
                {{- if $field.Data.Type.IsNative}}
                    {{- if $field.Data.Type.IsArray}}
                        copy(x.{{$field.Data.Name}}[:], __{{$field.Data.Name}}Slice)
                    {{- else}}
                        copy(x.{{$field.Data.Name}}, __{{$field.Data.Name}}Slice)
                    {{- end}}
                    {{- if $field.Data.Type.IsArray}}
                        for i := __{{$field.Data.Name}}Len; i < len(x.{{$field.Data.Name}}); i++ {
                        x.{{$field.Data.Name}}[i] = {{ToDefault $field.Data.Type}}
                        }
                    {{- end}}
                {{- else}}
                    for i := 0; i < __{{$field.Data.Name}}Len; i++ {
                    x.{{$field.Data.Name}}[i].Read(&__{{$field.Data.Name}}Slice[i], reader)
                    }
                    {{- if $field.Data.Type.IsArray}}
                        for i := __{{$field.Data.Name}}Len; i < len(x.{{$field.Data.Name}}); i++ {
                        x.{{$field.Data.Name}}[i].Reset()
                        }
                    {{- end}}
                {{- end }}
                {{- if $field.Data.Type.IsSlice}}
                    x.{{$field.Data.Name}} = x.{{$field.Data.Name}}[:__{{$field.Data.Name}}Len]
                {{- end }}
            {{- end }}
        {{- end}}
    {{- end }}
    }
{{end}}

{{define "struct_builder"}}
    {{- /*gotype: github.com/zllangct/ecs/command/karmem/kmparser.File*/ -}}
    {{$NullReader := printf "_NullReader_%s" .Name}}
    {{$Null := printf "_Null_%s" .Name}}
    {{$EnableRef := false}}
    {{- if ne (FromTags "field.enable_ref") "false" }}
        {{$EnableRef = true}}
    {{- end }}
    {{- range $root := .Structs}}
        {{$ItemEnableRef := false}}
        {{- if ne (FromStructTags $root "field.enable_ref") "false" }}
            {{$ItemEnableRef = true}}
        {{- end }}
        type {{$root.Data.Name}}Viewer [{{$root.Data.Size.Total}}]byte

        type {{$root.Data.Name}}Source struct {
            *{{$root.Data.Name}}Viewer
        }

        func New{{$root.Data.Name}}Viewer(reader *karmem.Reader, offset uint32) (v *{{$root.Data.Name}}Viewer) {
            if !reader.IsValidOffset(offset, {{$root.Data.Size.Minimum}}) {
                return (*{{$root.Data.Name}}Viewer)(unsafe.Pointer(&{{$Null}}[0]))
            }
            v = (*{{$root.Data.Name}}Viewer)(unsafe.Add(reader.Pointer, offset))
            {{- if $root.Data.IsTable}}
                if !reader.IsValidOffset(offset, v.size()) {
                    return (*{{$root.Data.Name}}Viewer)(unsafe.Pointer(&{{$Null}}[0]))
                }
            {{- end}}
            return v
        }

        func New{{$root.Data.Name}}Source(reader *karmem.Reader, offset uint32) (v {{$root.Data.Name}}Source) {
            return {{$root.Data.Name}}Source{ New{{$root.Data.Name}}Viewer(reader, offset)}
        }

        func new{{$root.Data.Name}}SourceByViewer(viewer *{{$root.Data.Name}}Viewer) (v {{$root.Data.Name}}Source) {
            return {{$root.Data.Name}}Source{ viewer }
        }

        func (x *{{$root.Data.Name}}Viewer) size() uint32 {
        {{- if $root.Data.IsTable}}
            return *(*uint32)(unsafe.Pointer(x))
        {{- else}}
            return {{$root.Data.Size.Total}}
        {{- end }}
        }

        func (x *{{$root.Data.Name}}Viewer) KarmemReader() *karmem.Reader {
            return karmem.NewReader(x[:])
        }

        {{- range $field := $root.Data.Fields }}
            {{- $FieldShoudRef := (and $ItemEnableRef (CanRef $field.Data.Type))}}
            {{- if $FieldShoudRef}}

				func (x *{{$root.Data.Name}}Viewer) is{{$field.Data.Name}}Nil() bool {
                	{{- if $field.Data.Type.IsInline}}
						return !*(*bool)(unsafe.Add(unsafe.Pointer(x), {{$field.Data.Offset}}))
					{{- else}}
						return !*(*bool)(unsafe.Add(unsafe.Pointer(x), {{$field.Data.Offset}} + 4))
					{{- end}}
				}
            {{- end }}

			func (x *{{$root.Data.Name}}Viewer) {{$field.Data.Name}}({{- if not $field.Data.Type.IsInline}}reader *karmem.Reader{{- end}}) (v {{ToTypeView $field.Data.Type}}) {
            {{- if $root.Data.IsTable}}
                if {{$field.Data.Offset}} + {{$field.Data.Size.Field}} > x.size() {
                {{- if or (and $field.Data.Type.IsBasic $field.Data.Type.IsNative) (or $field.Data.Type.IsString $field.Data.Type.IsEnum) }}
                    return v
                {{- else}}
                    {{- if or $field.Data.Type.IsSlice $field.Data.Type.IsArray}}
                        return {{ToTypeView $field.Data.Type}}{}
                    {{- else }}
                        return (*{{ToPlainType $field.Data.Type}}Viewer)(unsafe.Pointer(&{{$Null}}[0]))
                    {{- end }}
                {{- end}}
                }
            {{- end}}

            {{- if $field.Data.Type.IsInline}}
                {{- if not $field.Data.Type.IsArray}}
                    {{- if or $field.Data.Type.IsNative $field.Data.Type.IsEnum }}
                        return *(*{{ToTypeView $field.Data.Type}})(unsafe.Add(unsafe.Pointer(x), {{$field.Data.Offset}}))
                    {{- else}}
                        {{- if $FieldShoudRef}}
							return ({{ToTypeView $field.Data.Type}})(unsafe.Add(unsafe.Pointer(x), {{$field.Data.Offset}} + 1))
                        {{- else}}
							return ({{ToTypeView $field.Data.Type}})(unsafe.Add(unsafe.Pointer(x), {{$field.Data.Offset}}))
                        {{- end }}
                    {{- end}}
                {{- else}}
                    {{- if $field.Data.Type.IsString }}
						size := *(*uint32)(unsafe.Add(unsafe.Pointer(x), {{$field.Data.Offset}}))
                        slice := [3]uintptr{
                        uintptr(unsafe.Add(unsafe.Pointer(x), 4 + {{$field.Data.Offset}})), uintptr(size), {{$field.Data.Type.Length}},
                        }
                    {{- else}}
                        slice := [3]uintptr{
                        uintptr(unsafe.Add(unsafe.Pointer(x), {{$field.Data.Offset}})), {{$field.Data.Type.Length}}, {{$field.Data.Type.Length}},
                        }
                    {{- end}}
					return *(*{{ToTypeView $field.Data.Type}})(unsafe.Pointer(&slice))
                {{- end}}
            {{- else }}
					offset := *(*uint32)(unsafe.Add(unsafe.Pointer(x), {{$field.Data.Offset}}))
                {{- if $field.Data.Type.IsSlice}}
                    size := *(*uint32)(unsafe.Add(unsafe.Pointer(x), {{$field.Data.Offset}} + 4))
                    if !reader.IsValidOffset(offset, size) {
                    {{- if $field.Data.Type.IsString }}
                        return ""
                    {{- else}}
                        return {{ToTypeView $field.Data.Type}}{}
                    {{- end}}
                    }
                    length := uintptr(size / {{$field.Data.Size.Allocation}})
                    {{- if $field.Data.Type.IsLimited }}
                        if length > {{$field.Data.Type.Length}} {
                        length = {{$field.Data.Type.Length}}
                        }
                    {{- end }}
                    slice := [3]uintptr{
                    uintptr(unsafe.Add(reader.Pointer, offset)), length, length,
                    }
                    return *(*{{ToTypeView $field.Data.Type}})(unsafe.Pointer(&slice))
                {{- else}}
                    return New{{ToType $field.Data.Type}}Viewer(reader, offset)
                {{- end}}
            {{- end}}
            }
			{{/**/}}
			{{- if $field.Data.Type.IsInline}}
				{{- if not $field.Data.Type.IsArray}}
					{{- if or $field.Data.Type.IsNative $field.Data.Type.IsEnum }}
                        func (x *{{$root.Data.Name}}Source) Set{{$field.Data.Name}}(v {{ToTypeSource $field.Data.Type}}) {
						    *(*{{ToTypeView $field.Data.Type}})(unsafe.Add(unsafe.Pointer(x.{{$root.Data.Name}}Viewer), {{$field.Data.Offset}})) = v
                            }
					{{- else}}
{{/*						{{- if $FieldShoudRef}}*/}}
{{/*							return ({{ToTypeView $field.Data.Type}})(unsafe.Add(unsafe.Pointer(x.{{$root.Data.Name}}Viewer), {{$field.Data.Offset}} + 1))*/}}
{{/*						{{- else}}*/}}
{{/*							return ({{ToTypeView $field.Data.Type}})(unsafe.Add(unsafe.Pointer(x.{{$root.Data.Name}}Viewer), {{$field.Data.Offset}}))*/}}
{{/*						{{- end }}*/}}
					{{- end}}
				{{- else}}
                    func (x *{{$root.Data.Name}}Source) Set{{$field.Data.Name}}(v {{ToTypeSource $field.Data.Type}}) {
					{{- if $field.Data.Type.IsString }}
						 *(*uint32)(unsafe.Pointer(x.{{$root.Data.Name}}Viewer)) = uint32(len(v))
						 copy((*[{{$field.Data.Type.Length}}]byte)(unsafe.Add(unsafe.Pointer(x.{{$root.Data.Name}}Viewer), 4 + {{$field.Data.Offset}}))[:], v)
					{{- else}}
						 {{- if or $field.Data.Type.IsNative $field.Data.Type.IsEnum }}
							 copy((*(*[{{$field.Data.Type.Length}}]{{ToPlainType $field.Data.Type}})(unsafe.Add(unsafe.Pointer(x.{{$root.Data.Name}}Viewer), {{$field.Data.Offset}})))[:], v[:])
						 {{- else}}
							 {{- if $field.Data.Type.IsBasic}}
							 {{- else}}
								 writer := karmem.NewFixedWriter(x.{{$root.Data.Name}}Viewer[:])
								 __{{$field.Data.Name}}Offset := uint({{$field.Data.Offset}})
								 for i := range v {
									 _, _ = v[i].Write(writer, __{{$field.Data.Name}}Offset)
									 __{{$field.Data.Name}}Offset += {{$field.Data.Size.Allocation}}
								 }
							 {{- end}}
						 {{- end}}
					{{- end}}
                    }
				{{- end}}
			{{- else}}
                {{- if $field.Data.Type.IsSlice}}
                    func (x *{{$root.Data.Name}}Source) Set{{$field.Data.Name}}(v {{ToTypeSource $field.Data.Type}}) error {
                    offset := *(*uint32)(unsafe.Add(unsafe.Pointer(x.{{$root.Data.Name}}Viewer), {{$field.Data.Offset}}))
                    __{{$field.Data.Name}}Size := uintptr(len(v))
                    size := *(*uint32)(unsafe.Add(unsafe.Pointer(x.{{$root.Data.Name}}Viewer), {{$field.Data.Offset}} + 4))
                    {{- if $field.Data.Type.IsLimited}}
	                    if uint32(__{{$field.Data.Name}}Size) > {{ $field.Data.Type.Length}} {
							return errors.New("invalid size, new size must less than max length")
	                    }
                    {{- end}}
					if uint32(__{{$field.Data.Name}}Size) > size {
						return errors.New("invalid size, new size must less than old")
					}
                    __{{$field.Data.Name}}Slice := [3]uintptr{*(*uintptr)(unsafe.Pointer(&v)), __{{$field.Data.Name}}Size, __{{$field.Data.Name}}Size}
                    __d := [3]uintptr{uintptr(unsafe.Add(unsafe.Pointer(x.{{$root.Data.Name}}Viewer), offset)), __{{$field.Data.Name}}Size, __{{$field.Data.Name}}Size}
                    copy(*(*[]byte)(unsafe.Pointer(&__d)), *(*[]byte)(unsafe.Pointer(&__{{$field.Data.Name}}Slice)))
                    *(*uint32)(unsafe.Add(unsafe.Pointer(x.{{$root.Data.Name}}Viewer), {{$field.Data.Offset}} + 4)) = uint32(__{{$field.Data.Name}}Size)
                    return nil
                        }
                {{- else}}
{{/*	                New{{ToType $field.Data.Type}}Viewer(reader, offset)*/}}

{{/*					_{{$field.Data.Name}}Slice := [3]uint{uint(uintptr(unsafe.Pointer(&x.{{$field.Data.Name}}))), __{{$field.Data.Name}}Size, __{{$field.Data.Name}}Size}*/}}
{{/*					writer.WriteAt(__{{$field.Data.Name}}Offset, *(*[]byte)(unsafe.Pointer(&__{{$field.Data.Name}}Slice)))*/}}
                {{- end}}
			{{- end}}

			{{- if $field.Data.Type.IsInline}}
				{{- if not $field.Data.Type.IsArray}}
				{{- else}}
					{{- if $field.Data.Type.IsString }}
					{{- else}}
						{{- if or $field.Data.Type.IsNative $field.Data.Type.IsEnum }}
						{{- else}}
							{{- if $field.Data.Type.IsBasic}}
							{{- else}}

								func (x *{{$root.Data.Name}}Source) {{$field.Data.Name}}Source(index int) ({{ToPlainType $field.Data.Type}}Source, error) {
									v := x.{{$field.Data.Name}}()
									if index > len(v) - 1 {
										return {{ToPlainType $field.Data.Type}}Source{}, errors.New("out of array bounds")
									}
									return new{{ToPlainType $field.Data.Type}}SourceByViewer(&v[index]), nil
								}
							{{- end}}
						{{- end}}
					{{- end}}
				{{- end}}
			{{- end}}
        {{- end}}
    {{- end }}
{{end}}